/* common css  */
/* color  */
:root {
    --black: #010101;
    --yellow: #fcdb00;
    --grey: #898989;
    --white: #ffffff;
}
/* color  */
/* font start  */
@font-face {
    font-family: PTSans-Regular;
    src: url(../fonts/PTSans-Regular.ttf);
}
@font-face {
    font-family: PTSans-Bold;
    src: url(../fonts/PTSans-Bold.ttf);
}
body {
    font-family: PTSans-Regular;
    font-size: 16px;
    font-weight: 400;
    color: var(--grey);
}
/* font end  */
/* common css  */

/* header start  */
header {
    padding: 30px 0;
    background-color: var(--yellow);
}
.logo {
}
header ul {
}
header ul li a {
    margin-right: 50px;
    font-family: PTSans-Bold;
    font-size: 22px !important;
    font-weight: 700 !important;
    color: var(--black) !important;
}
header ul li a:hover {
    color: var(--white) !important;
}
header ul li:last-child a {
    margin-right: 0;
}
.navbar-toggler:focus {
    box-shadow: none;
}
/* header end  */

/* banner start  */
.slider {
    padding-bottom: 100px;
    background-color: var(--yellow);
}
.s_text {
    padding-right: 133px;
}
.s_text h1 {
    font-family: PTSans-Bold;
    font-size: 32px;
    font-weight: 700;
    color: var(--black);
}
.s_text h2 {
    padding: 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.s_text p {
    padding-bottom: 40px;
}
.s_text ul li i {
    margin-right: 30px;
    font-size: 42px;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}
.s_text ul li i:hover {
    transform: scale(0.8);
}
.s_img {
}
.s_img img {
    border-radius: 20px;
}
.carousel_indicator {
    margin-bottom: -65px;
}
.carousel_indicator [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* banner end  */

/* feature start  */
.feature {
    padding: 100px 0 120px;
}
.f_header {
    padding: 0px 135px;
}
.f_header h1,
.f_header p {
    color: var(--black);
}
.f_header h1 {
    padding-bottom: 15px;
    font-family: PTSans-Bold;
    font-size: 32px;
    font-weight: 700;
}
.f_header p {
    font-size: 20px;
}
.feature_item {
    margin-top: 80px;
}
.f_icon {
    text-align: center;
}
.f_icon i {
    font-size: 50px;
    color: var(--black);
    cursor: pointer;
    transition: all 0.3s;
}
.f_icon i:hover {
    transform: scale(0.8);
}
.f_text {
}
.f_text h2 {
    padding-bottom: 15px;
    font-size: 22px;
    color: var(--black);
}
.f_text p {
}
/* feature end  */

/* contact start  */
.contact {
    padding: 100px 0 120px;
    background-color: var(--black);
}

.c_header h1 {
    color: var(--yellow);
}
.c_header p {
    color: var(--grey);
}
.c_form {
    padding: 30px 0 60px;
}
.c_input {
    padding-left: 20px;
    height: 50px;
    font-family: PTSans-Regular;
    color: var(--grey);
}
.c_button {
    width: 100%;
    height: 50px;
    background-color: #fcdb00;
    font-family: PTSans-Bold;
    font-weight: 700;
    text-transform: uppercase;
}

.c_links {
}
.c_links ul li {
    margin-right: 30px !important;
}
.c_links ul li:last-child {
    margin-right: 0px !important;
}
.c_links ul li a i {
    font-size: 42px;
    color: #fcdb00;
}
.c_links ul li a i:hover {
    color: var(--white);
}

/* contact end  */

/* footer start  */
footer {
    padding-bottom: 120px;
    background-color: var(--black);
}
footer ul li {
}
footer ul li a {
    font-size: 16px;
    font-weight: 400;
}
footer ul li,
footer ul li a {
    color: var(--white) !important;
}
/* footer end  */
